# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
#BASEPATH=
#NEXT_PUBLIC_APP_URL=http://localhost:3000
#NEXT_PUBLIC_DOCS_URL=https://demos.themeselection.com/materio-mui-nextjs-admin-template/documentation

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
#NEXTAUTH_BASEPATH=/api/auth
#NEXTAUTH_URL=http://localhost:3000/api/auth
#NEXTAUTH_SECRET=JHB8jShT29nDuEoMBL0dt9kvLl+l6a1YwEZ4Il1owB8=

# Google OAuth 2.0 (https://console.cloud.google.com/apis/credentials)
#GOOGLE_CLIENT_ID=
#GOOGLE_CLIENT_SECRET=

# Amazon Cognito
#COGNITO_CLIENT_ID=5535e1dvldtrr2logi6sqfvkr6
#COGNITO_CLIENT_SECRET=
#COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_s5GZnopkQ


# -----------------------------------------------------------------------------
# Database
# -----------------------------------------------------------------------------
#DATABASE_URL=

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
#API_URL=http://localhost:3000/api
#NEXT_PUBLIC_API_URL=

# -----------------------------------------------------------------------------
# Mapbox
# -----------------------------------------------------------------------------
#MAPBOX_ACCESS_TOKEN=

#NEXTAUTH_DEBUG=true

